# Python cache
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules

# Database
db.sqlite3

# Logs
*.log

# macOS
.DS_Store
# Environment variables
.env

# Media
upload/

# Security keys
*.pem
*.key
*.p12
*.pfx
*.cert
*.crt
*.jks

mobile_operations.graphql