@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary-50: #f9f4f1;
  --color-primary-100: #f0e3d9;
  --color-primary-200: #d9bba5;
  --color-primary-300: #c29371;
  --color-primary-400: #ad7552;
  --color-primary-500: #b65d37;
  --color-primary-600: #954a2c;
  --color-primary-700: #733822;
  --color-primary-800: #522615;
  --color-primary-900: #31160b;
  --color-primary-950: #1a0c06;
}
